:root{
    --primaryColor: #333;
    --secondaryColor: #f73b64;
    --norText: #a5a4a4;
    --highText: #b8b6b6;
}
body{
    background-color: var(--primaryColor);
}
.i-container{
    padding: 5px;
    box-shadow: 2px;
}
i{
    color: var(--norText);
}
.divider{
    background-color: #000;
    width: 3px;
    height: auto;
    margin: 5px;
}
.introPict{
    position: fixed;
    top: -40px;
}
.intropic img{
    width: 60px;
    height: 40px;
}
.selfIntro{
    background-color: var(--primaryColor);
    width: auto;
    box-shadow: 8px 5px ;
}
.infoTitle, h3{
    color: var(--norText);
}
.infoCont, h1{
    color: var(--highText);
}